@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
html, body{
  height: 100;
}

.nav-container{
  background-color:rgba(0, 0, 0, 0.452);
}

.clock-container {
  font-family: 'Seven Segment', sans-serif;
  font-size: 1rem;
  color: rgb(50, 245, 24);
  display: flex;
  gap: 0.5rem;
  
}

