<link rel="stylesheet" href="{{url_for("static", filename="css/cadastrar.css")}}">
{% extends 'base.html' %} {% block conteudo %}
<div class="container-login">
  <div class="wrapper">
    <div class="title">Cadastrar-se</div>
    <form action="#">
      <div class="field">
        <input type="text" required />
        <label>Nome</label>
      </div>
      <div class="field">
        <input type="text" required />
        <label>Email</label>
      </div>
      <div class="field">
        <input type="password" required />
        <label>Senha</label>
      </div>
      <div class="field">
        <input type="password" required />
        <label>Confirmar Senha</label>
      </div>
      
      <div class="field">
        <input type="submit" value="Cadastrar-se" />
      </div>
      <div class="signup-link">Ja é membro? <a href="{{url_for('login')}}">Entrar</a></div>
    </form>
  </div>
</div>

{% endblock %}
